{% extends 'base.html' %}

{% block title %} 
    Sistema de Gerenciamento de Eventos
{% endblock %} 

{% block content %} 
<div class="content-wrap">
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h1>Bem-vindo ao Sistema de Gerenciamento de Eventos</h1>
                <hr>
                <br>
                <p class="lead">Este sistema foi desenvolvido para gerenciar os diversos tipos de eventos, os usuários podem convidar outros usuários para diferentes tipos de eventos, o convite possui dados do evento como o nome do evento, local, a data  </p>
                <br>
                <p>Através deste sistema, é possível organizar os eventos que o usuário foi convidado. Os dados asseguram que os usuários que foram convidados possam ter acesso as informações do evento.</p>                
            </div>
        </div>
    </div>
</div>
{% endblock %}
